<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Banking Manager Test Suite" parallel="tests" thread-count="3">
    <test name="Add Customer Tests" parallel="methods" thread-count="3">
        <classes>
            <class name="svm.sibmirsoft.tests.AddCustomerTest"/>
        </classes>
    </test>
    <test name="Customers Tests" parallel="methods" thread-count="3">
        <classes>
            <class name="svm.sibmirsoft.tests.CustomersTest"/>
        </classes>
    </test>
</suite>